<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Cases" verbose="1" >
    <listeners>
        <listener class-name="Report.Listener"/>
    </listeners>
    <test name="Verify User is able to Register">
        <parameter name="browserName" value="chrome"></parameter>
        <parameter name="testRunId" value="TCTC-1"/>
        <classes>
            <class name="Test.TestRegistrationPage"/>
        </classes>
    </test>
</suite>